* {
    box-sizing: border-box;
}

body {
    background-color: #2C3E50;
    color: rgb(255, 255, 255);
    height: 80vh;
    display: flex;
    /*elemanlari alt alta getirdik*/
    flex-direction: column;
    /*alt alta gelen elemanların da ortaladık*/
    align-items: center;
    /*scroll barın çıkmasını engelledik*/
    overflow: hidden;
}

.container {
    padding: 20px 20px;
    height: 450px;
    width: 450px;
    position: relative;
}

.grafik {
    fill: transparent;
    background-color:#2C3E50;
    stroke: #ECF0F1;
    stroke-width: 4px;
}

.item {
    display: none;
}

#wrong-letters{
    position: absolute;
    top: 30px;
    right: 30px;
}

#word {
    display: flex;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);


}

#popup-container {
    background-color: rgba(51, 141, 65, 0.3);
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*display : flex*/
    display: none;
    align-items: center;
    justify-content: center;
}

#popup-container2 {
    background-color: rgba(172, 66, 25, 0.3);
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*display : flex*/
    display: none;
    align-items: center;
    justify-content: center;
}


.popup {
    background-color: rgb(55, 144, 55);
    padding: 20px;
    text-align:center;
    border-radius: 10px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.3);
}

.popup2 {
    background-color: rgb(178, 56, 12);
    padding: 20px;
    text-align:center;
    border-radius: 10px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.3);
}

#play-again {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    
}

#play-again2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    
}

.letter {
    font-size: 30px;
    border-bottom: 3px rgb(255
    , 255, 0) solid;
    margin: 0 3px;
    height: 40px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#message {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 80px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.4s ease-in-out ;
}

#message.show {
    transform: translateY(-80px);
}

h1 {
    color: #ECF0F1;
}

